<div class="flex justify-content-end">
  <button
    (click)="newAppointment()"
    class="p-button-success auto-width"
    icon="far fa-calendar-plus"
    label="Nouveau rendez-vous"
    pButton
  >
  </button>
</div>
<p-divider></p-divider>
<div *ngIf="medicalAppointmentsDates.length > 0" class="flex">
  <div class="col-4">
    <p-table
      (onRowSelect)="onAppointmentDateSelect($event)"
      [(selection)]="selectedDate"
      [paginator]="true"
      [rows]="5"
      [value]="medicalAppointmentsDates"
      responsiveLayout="scroll"
      selectionMode="single"
      styleClass="p-datatable-striped p-datatable-gridlines"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Date</th>
        </tr>
      </ng-template>
      <ng-template let-bookingDate pTemplate="body">
        <tr [pSelectableRow]="bookingDate">
          <td>{{bookingDate | date:'dd/MM/yyyy'}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div *ngIf="patientAppointments.length > 0" class="col-8">
    <p-table
      [paginator]="true"
      [rowsPerPageOptions]="[5,10,25,50]"
      [rows]="5"
      [showCurrentPageReport]="true"
      [value]="patientAppointments"
      currentPageReportTemplate="{first} à {last} de {totalRecords}"
      dataKey="id"
      responsiveLayout="scroll"
      selectionMode="single"
      styleClass="p-datatable-striped p-datatable-gridlines"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Heure</th>
          <th>Service médical</th>
          <th>Motif de la consultation</th>
        </tr>
      </ng-template>
      <ng-template let-appointment pTemplate="body">
        <tr>
          <td>{{appointment.startTime | hour}} - {{appointment.endTime | hour}}</td>
          <td>{{appointment.medicalServiceName}}</td>
          <td>{{appointment.medicalCaseTitle}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
