@import url("https://fonts.googleapis.com/css?family=Bungee");

.container {
  background: #1b1b1b;
  color: white;
  font-family: "Bungee", cursive;
  text-align: center;
  height: 100vh !important;
}

a {
  color: #2aa7cc;
  text-decoration: none;
}

a:hover {
  color: white;
}

svg {
  width: 50vw;
}

.lightblue {
  fill: #444;
}

.eye {
  cx: calc(115px + 30px * var(--mouse-x));
  cy: calc(50px + 30px * var(--mouse-y));
}

#eye-wrap {
  overflow: hidden;
}

.error-text {
  font-size: 120px;
}

.alarm {
  animation: alarmOn 0.5s infinite;
}

.text-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 80%;
  margin-left: auto;
  margin-right: auto;
}

@keyframes alarmOn {
  to {
    fill: darkred;
  }
}
